# -------- BANCO --------
# Preferencial no Render Postgres:
DATABASE_URL=postgresql://postgres:senha@host:5432/lenhardt_db

# Opcional sem DATABASE_URL:
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASS=senha
# DB_NAME=lenhardt_db
# DB_POOL_MAX=10

# -------- APLICACAO --------
CORS_ORIGINS=http://127.0.0.1:5500,http://localhost:5500
NODE_ENV=development
PORT=3000

# -------- AUTENTICACAO --------
ACCESS_TOKEN_SECRET=defina_um_segredo_forte_para_access
REFRESH_TOKEN_SECRET=defina_outro_segredo_forte_para_refresh
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30d
